# Object files
# *.o
# *.ko
# *.obj
# *.elf

# Precompiled Headers
# *.gch
# *.pch

# Libraries
# *.lib
# *.a
# *.la
# *.lo

# Shared objects (inc. Windows DLLs)
# *.dll
# *.so
# *.so.*
# *.dylib

# Executables
# *.exe
# *.out
# *.app
# *.i*86
# *.x86_64
# *.hex

# Debug files
# *.dSYM/
# *.exp
# *.ilk
# *.pdb

# 
*.suo
*.sdf
!googletest/Debug/gtestd.lib
!googletest/Debug/gtestd.dll
!googletest/Debug/gtest_maind.lib
!googletest/Debug/gtest_maind.dll
!xluatest/gtestd.pdb
!xluatest/gtest_maind.pdb

# folder
/bin
/build
/build32
/build64
.vscode
xluatest/*.exe
xluatest/*.a
xluatest/*.dll
xluatest/*.exp
xluatest/*.ilk
xluatest/*.pdb
xluatest/*.lib


