# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# folder
/src/vs15/ipch
/src/vs15/Debug
/src/vs15/Release
/src/vs15/x64
/src/vs15/lua/Debug
/src/vs15/lua/x64
/src/vs15/luac/Debug
/src/vs15/luac/x64

/src/vs13/Debug
/src/vs13/ipch
/src/vs13/x64
/src/vs13/lua13/Debug
/src/vs13/lua13/x64
/src/vs13/luac13/Debug
/src/vs13/luac13/x64

*.suo
*.sdf

